 @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Hind:wght@300;400;500;600;700&family=Inter:wght@400;500&family=Pixelify+Sans:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}
p{
    color: white;
    text-shadow: black 1.5px 2px 1px;
}
body {
    background-image: url(../img/mark-harpur-K2s_YE031CA-unsplash.jpg);
    background-size:cover;
    background-position:center;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 80%;
    width: 80%;
    display: flex;
}


main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.lado-esquerdo {
    background-image: url(../giff/noite-nublado.gif);
    background-size:cover;
    background-position: center;
    max-width: 25%;
    height: 100%;
}

.previsao-principal {
    height: 100%;
    width: 100%;
    padding: 0.5rem;
}

.caixa-busca {
    display: flex;
    justify-content: center;
    /* width: 100%; */
}

.botao-de-adicionar{
    height: 26px;
}

.caixa-busca > button > img{
    height: 26px;
}

button,
input{
    height: 30px;
    background-color: rgb(160, 236, 255);
    border-radius: 5px;
    text-align: center;
}

input{
    width: 100%;
}
button {
    width: 30px;
}

.caixa-img-clima {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nome-local {
    font-size: clamp(0.5em, .5em + .9vw, 2em);
    font-weight: 700;
    text-align: center;
}

.caixa-img-clima>img {
    width: 80%;
}

.descricao-clima{
    font-size: clamp(0.5em, .5em + .9vw, 2em);
}

.caixa-temperatura{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

.caixa-temperatura > img{
    width: 30%;
}

.temperatura-atual{
    font-size: clamp(0.5em, .5em + 1vw, 3em);
}

.min-max{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15%;
    font-size: clamp(0.5em, .5em + .5vw, 3em);

}
.min-max > p{
    padding: .2rem;
    font-size: 1.2em;
}
.detalhes{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detalhes > p{
    margin-bottom: .2rem;
    font-size: clamp(0.5em, .5em + .5vw, 3em);
}

#map{
    width: 100%;
    height: 15%;
    margin-top: 0.5rem;
}
/* /////////////////////////////// */
.lado-direito {
    width: 80%;
    display: flex;
    justify-content: center;
}

.proximos-dias{
    border: solid black 1px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../giff/Ensolarado.gif);
    background-size:cover;
    background-repeat: no-repeat;
}
.proximos-dias > p{
    font-size: clamp(0.5em, .5em + .5vw, 3em);
    white-space: pre-line;
    text-align: center;
}

.proximos-dias > img{
    width: 80%;
    height: 20%;
}



